mat-toolbar {
  width: 100%;
  margin-bottom: 1rem;
}

mat-button {
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  padding-top: 2px;
}

p {
  font-size: 14px;
  margin: 0 3px;
}

.spacer {
  flex: 1 1 auto;
}

@media screen and (min-width: 721px) {
  mat-toolbar-row.small-screen {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  a {
    font-size: 14px;
  }

  mat-toolbar-row {
    height: 36px;
  }

  mat-toolbar-row.big-screen {
    height: 56px;
  }

  mat-toolbar-row.big-screen ul>li {
    display: none;
  }

  mat-toolbar-row.big-screen ul>li.essential {
    display: flex;
  }

  mat-toolbar-row.big-screen ul>li.essential>a.mat-button {
    padding: 0;
  }

  mat-toolbar-row.small-screen ul {
    display: table;
    width: 100%;
  }

  mat-toolbar-row.small-screen ul>li {
    display: table-cell;
  }

  mat-toolbar-row.small-screen a {
    display: block;
    text-align: center;
    padding-top: 0;
  }
}
