<h1 mat-dialog-title>{{ headerText }}</h1>
<div *ngIf="isDelete" mat-dialog-content>
  <p>¿Estás seguro de que deseas eliminar esta categoría?</p>
</div>
<form *ngIf="!isDelete" mat-dialog-content [formGroup]="form">
  <mat-form-field *ngIf="data.isEdit">
    <input
    matInput
    placeholder="ID"
    formControlName="_id"
    id="id"
    >
  </mat-form-field>
  <mat-form-field>
    <input
    matInput
    placeholder="Nombre"
    formControlName="name"
    id="name"
    >
    <mat-error *ngIf="controls.name.errors?.required">Este campo es obligatorio.</mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="warn" id="cancel">Cancelar</button>
  <button *ngIf="!isDelete" mat-raised-button cdkFocusInitial (click)="save()" color="accent" id="save">{{ buttonText }}</button>
  <button *ngIf="isDelete" mat-button cdkFocusInitial (click)="delete()" color="accent" id="delete">Eliminar</button>
</div>
