<mat-card>
  <h2>Crear cuenta</h2>
  <form [formGroup]="form" (ngSubmit)="onSignup()">
    <mat-form-field>
      <input
      matInput
      placeholder="Nombre"
      formControlName="name"
      >
      <mat-error *ngIf="controls.name.errors?.required">Este campo es obligatorio.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      placeholder="Apellido"
      formControlName="surname"
      >
      <mat-error *ngIf="controls.surname.errors?.required">Este campo es obligatorio.</mat-error>
    </mat-form-field>
    <mat-form-field class="date-picker">
      <mat-label>Fecha de nacimiento</mat-label>
      <input
      matInput
      [matDatepicker]="dobPicker"
      formControlName="dob"
      >
      <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="email"
      placeholder="Correo electrónico"
      formControlName="email"
      >
      <mat-error *ngIf="controls.email.errors?.required">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="controls.email.errors?.email">Ingresa un correo electrónico válido.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="password"
      placeholder="Contraseña"
      formControlName="password"
      >
      <mat-error *ngIf="controls.password.errors?.required">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="controls.password.errors?.minlength">La contraseña debe contener al menos 8 caracteres.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="password"
      placeholder="Confirmar contraseña"
      formControlName="confirmPassword"
      >
      <mat-error *ngIf="controls.confirmPassword.errors?.required">Este campo es obligatorio.</mat-error>
      <mat-error *ngIf="controls.confirmPassword.errors?.mustMatch">Las contraseñas deben coincidir.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Registrar</button>
  </form>
</mat-card>
