<button mat-raised-button color="accent" (click)="refresh()">Actualizar</button>
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
    </ng-container>
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef>Apellido</th>
      <td mat-cell *matCellDef="let employee">{{ employee.surname }}</td>
    </ng-container>
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef>Fecha de nacimiento</th>
      <td mat-cell *matCellDef="let employee">{{ employee.dob.split("T")[0] | date: 'mediumDate' }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
      <td mat-cell *matCellDef="let employee">{{ employee.email }}</td>
    </ng-container>

    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let employee">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Opciones">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(employee)">
            <mat-icon>edit</mat-icon>
            <span>Editar empleado</span>
          </button>
          <button mat-menu-item (click)="onDelete(employee)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar empleado</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
